
<h1>Tveets</h1>
<br>
<p id="notice"><%= notice %></p>

<%= turbo_frame_tag 'tveets_form' do %>
  <%= render 'tveets/form', tveet: @tveet %>
<% end %>

<br>
<%= turbo_stream_from 'tveets' %>
<%= turbo_frame_tag 'tveets' do %>
  <%= render @tveets %>
<% end %>
